<html>
<head>
  <title>Flask login page!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Please Login!</h1>
  <form action="" method="post">
    <div>
      <label>Username: </label>
      <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" required>
    </div>
    <div>
      <label>Password:   </label>
      <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required>
    </div>
    <input class="btn btn-primary" type="submit" value="Login"/>
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong>{{ error }}</p>
  {% endif %}
</div>
</body>
</html>